input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

#container {
    position: relative;
}

.process{
    top: 175px;
    left: 900px;
    width: 100px;
    height: 120px;
    background: red;
    position: absolute;
    transition: opacity 0.7s ease-in-out, transform 0.8s ease-in-out;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
#procesator{
    top:200px;
    left:200px;
    width: 600px;
    height: 50px;
    background: rgb(180, 89, 178);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubbletext{
    font-size: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden {
    display: none;
}